@import "variables";


.latest-posts-bar {
            margin: 50px auto 0px;
            max-width: 100%;
            width: 1200px;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            &__title {
            font-family: $primaryFont;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 166%;  
            letter-spacing: 0.1em;      
            color: #000000;
            
        }
        &__button {
            font-family: $secondaryFont;
            font-weight: 400;
            font-size: 16px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #7B7B7B;
            cursor: pointer;
        }
        &__image {
            margin-left: 10px;
            cursor: pointer;
        }
    } 
 .latest-posts-cards {
            display: flex;
            justify-content: center;
            margin-top: 50px;
        &__left-card {
            max-width:  34%;
            width: 370px;
            margin-right: 45px;
        }
        &__center-card {
            max-width:  33%;
            width: 370px;
            margin-right: 45px;
        }
        &__right-card {
            max-width:  33%;
            width: 370px;
        }
        &__subtext {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding-top: 25px;
            padding-bottom: 25px;
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 166%;
            letter-spacing: 0.1em; 
            color: #7B7B7B;
        }
        &__title {
            font-family: $primaryFont;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 166%;
            letter-spacing: 0.1em;
            padding-bottom: 25px;
            color: #000000;
        }
        &__downtext {
            font-family: $secondaryFont;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 166%;
            letter-spacing: 0.05em;
            color: #565656;
        }
}
 @media (max-width:767px) {
    .latest-posts-bar {
        margin: 50px auto 0px;
        width: 370px;
        max-width: 100%;
    
        display: block;

        &__title {
        font-size: 28px;
        letter-spacing: 0.1em;      
    }
    &__button {
        display: block;
        font-family: $secondaryFont;
        font-weight: 400;
        font-size: 20px;
        line-height: 166%;
        letter-spacing: 0.1em;
        color: #7B7B7B;
    }
    &__image {
        margin-left: 0px;
    }
} 
.latest-posts-cards {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
&__left-card {
    max-width: 100%;
    width: 370px;
    margin-right: 0px;
    margin:  0 auto;
}
&__center-card {
    max-width: 100%;
    width: 370px;
    margin-right: 0px;
    margin: 40px auto 0px;
}
&__right-card {
    max-width: 100%;
    width: 370px;
    margin-right: 0px;
    margin: 40px auto 0px;
}
&__subtext {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 166%;
    letter-spacing: 0.1em; 
    color: #7B7B7B;
}
&__title {
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 166%;
    letter-spacing: 0.1em;
    padding-bottom: 25px;
    color: #000000;
}
&__downtext {
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 166%;
    letter-spacing: 0.05em;
    color: #565656;
    margin-bottom: 20px;
}
}
 }

 @media (min-width:768px) and (max-width:1280px) {
    .latest-posts-bar {
        max-width: 100%;
        width: 768px;
        padding-left: 10px;
     
}
.latest-posts-cards {
    display: block;
    justify-content: center;
    margin-top: 50px;
    padding: 0 10px;
&__left-card {
    max-width:  100%;
    width: 768px;
    margin-right: 0px;
    margin: 0 auto;

    display: flex;
}
&__center-card {
    max-width:  100%;
    width: 768px;
    margin-right: 0px;
    margin: 30px auto 30px;
    display: flex;
    flex-direction: row-reverse;
   ;
}
&__right-card {
    max-width:  100%;
    width: 768px;
    display: flex;
   margin: 0 auto;
}

&__subtext {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 0.1em; 
    color: #7B7B7B;
}
&__title {
    font-family: $primaryFont;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 166%;
    letter-spacing: 0.1em;
    padding-bottom: 25px;
    color: #000000;
}
&__downtext {
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.05em;
    color: #565656;
    width: 300px;
}
}
.latest-posts-card {
    &__description {
        
            width: 400px;
    }
}
.left-card {
    margin-right: 10px;
}
.center-card {
    margin-left: 10px;
}
.right-card {
    margin-right: 10px;
}
 }